/target/
.classpath
.project
.settings/

webapp/src/main/java/fr/nmocs/library/webapp/ws/
loan-peremption-warn-batch/src/main/java/fr/nmocs/library/loanperemptionwarn/ws/
batch/src/main/java/fr/nmocs/library/batch/webservice/

resources/sql/999_my_demo.sql
loan-peremption-warn-batch/src/main/resources/hidden-email.properties